body, html{
  font-family: Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background: white;
  color: black;
}

button{
  padding: 15px;
  margin: 5px;
  font-size: 16px;
  color: white;
  background-color: dodgerblue;
  border-radius: 5px;
  border-style: none;
  border-bottom: solid 3px rgba(0,0,0,0.3);
  cursor: pointer;
  vertical-align: text-bottom;
}

button:active{
  background-color: gold !important;
}

input{
  width: auto;
}

#message, .cadre{
  font-family: Verdana, sans-serif;
  font-weight: bold;
  font-size: 2.7rem;
}

#message{
  margin-top: 7%;
  margin: 2.7rem;
  padding: 3rem;
}

.msgbrd{
  border: solid 4px black;
  color: black;
}

.msgblk{
  animation-name: blink;
  animation-duration: 0.5s;
  animation-iteration-count: 4;
}

.cadre{
  position: absolute;
  bottom: calc(50% - 5rem);
  height: 10rem;
  width: 100%;
  font-size: 10rem;
}

.ronds{
  position: absolute;
  bottom: 10%;
  height: calc(10% + 20px);
  width: 100%;
  display: flex;
  justify-content: center;
}

.rond{
  display: inline-block;
  width: 12vh;
  height: 12vh;
  border-radius: 50%;
  font-size: 9vh;
  margin: 10px;
  background-color: #222;
  box-shadow: 3px 3px 10px 0 rgba(0,0,0,0.4);
  color: white;
}

.on{
  background-color: forestgreen;
  box-shadow: 3px 3px 10px 0 rgba(34,139,34,0.5);
}

div[hidden=true]{
  display: none;
}

@keyframes blink {
  0%   {border: solid 4px limegreen; color: limegreen; }
  50%  {border: solid 4px limegreen; color: limegreen; }
  50.1%  {border: solid 4px black; color: black; }
  100% {border: solid 4px black; color: black; }
}
